body {
  margin: 0;
}

#root {
  max-width: 1024px;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.address {
  margin-top: 10px;
}