body {
  margin: 0;
}

#root {
  max-width: 1024px;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.address {
  margin-top: 10px;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  display: flex;
}

.modal-content {
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  margin: auto;
  background-color: #ffffff;
  vertical-align: middle;
  max-width: 500px;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  min-width: 500px;
  max-width: 100%;
}

.modal-content .modal-close-action {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  background-color: #000;
  color: #ffffff;
  border-radius: 4rem;
  aspect-ratio: 1/1;
  outline: none;
  border: none;
  cursor: pointer;
}