body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  --color-grey-1: #f6f6f6;
  --color-grey-2: #c5c5c5;
  --color-grey-3: #454545;

  --color-red-1: #ff4d4d;
  --color-red-2: #b84646;
}

#root {
  max-width: 1024px;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container {
  margin: 30px 0 60px;
}

.address {
  margin-top: 10px;
}
