.filterable-table {
  width: 976px;
}

.filterable-table {
  text-align: center;
}

.filterable-table, .filterable-table thead th {
  border-bottom: solid 1px black;
}

.filterable-table th, .filterable-table td {
  padding: 10px 18px;
}

.filterable-table tr.odd {
  background-color: #f9f9f9;
}

.filterable-table tr.even {
  background-color: #ffffff;
}

.filterable-table-filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.filterable-table thead .sorting-asc, .filterable-table thead .sorting-desc, .filterable-table thead .no-sorting {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

.filterable-table thead .sorting-asc {
  background-image: url(/images/sort_asc.png);
}

.filterable-table thead .sorting-desc {
  background-image: url(/images/sort_desc.png);
}

.filterable-table thead .no-sorting {
  background-image: url(/images/sort_both.png);
}