.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.form select, .form input, .form fieldset {
  box-sizing: border-box;
  width: 100%;
}

.form button.submitButton {
  padding: 8px;
  margin: 12px auto 0;
}