.inputTextWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

.inputTextWrapper label {
  font-weight: bold;
}

.inputTextWrapper input {
  transition: border-color 0.1s ease-in-out;
  outline: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-3);
  border-radius: 3px;
  padding: 6.4px 16px;
}

.inputCheckboxWrapper {
  display: flex;
}

.inputCheckboxWrapper label {
  margin-left: 0.25rem;
}

.inputField {
  width: 100%;
  box-sizing: border-box;
}
.errorLabel {
  color: var(--color-red-1);
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
.requiredAsterisk {
  color: var(--color-red-2);
}

.inputSelectWrapper {
  position: relative;
}

.inputSelect {
  padding: 6.4px 16px;
  appearance: none;
  width: 100%;
  background-color: var(--color-grey-1);
  border-color: var(--color-grey-2);
  color: var(--color-grey-3);
  border-radius: 3px;
}

.inputSelectIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-grey-3);
}

.formGroup_row {
  display: flex;
  flex-direction: row;
}

.formGroup_column {
  display: flex;
  flex-direction: column;
}

.formGroupGap_small {
  gap: 8px;
}

.formGroupGap_medium {
  gap: 16px;
}

.formGroupGap_large {
  gap: 32px;
}

.formGroupWithoutBorder {
  border: none;
  padding: 0;
}

.formGroupWithBorder.formGroup_column {
  margin-bottom: 16px;
}

.formFooter {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.formFooter > * {
  flex: 1;
}

.submitButton {
  flex-grow: 0;
  padding: 6px 12px;
}